@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.color-primary-white{
  background-color: #F5F5F5;
}
.LegendLineChart{
  position: absolute !important;
  top: 0px !important;
  right: 100px !important;
}
.circle{
  border-radius: 50%;
}
.pieColorFirst{
  background-color: #98D89E !important;
}
.pieColorSecond{
  background-color: #EE8484 !important ;
}
.pieColorThird{
  background-color: #F6DC7D !important;
}
